body {
  max-width: 80%;
  font-size: 1.1em;
  margin: 2em auto;
}

h1 {
  color: rgba(10, 30, 180, 0.8);
}

a {
  color: rgba(0, 0, 153, 1);
  text-decoration: none;
}

a:hover {
  color: Tomato;
}

.footer {
  text-align: center;
  padding: 2rem;
}

code {
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 4px;
    padding: 0px 3px;
}

/*
code:hover {
    background-color: rgba(0, 0, 255, 0.2);
    font-weight: bold;
    padding: 0px 3px;
}
*/

a > code {
    background-color: rgba(0, 0, 255, 0.2);
    color: rgba(0, 0, 0, 1);
    padding: 0px 3px;
}

a > code:hover {
    background-color: rgba(0, 0, 255, 0.4);
    font-weight: bold;
    padding: 0px 3px;
}

a {
    color: rgba(0, 0, 153, 1);
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 2rem;
}
